@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<div class="text-center">
    @if (!string.IsNullOrEmpty(User.Identity.Name)) {
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    } else {
        <h1 class="display-4">Welcome</h1>
    }
</div>